<html ng-app="app">
<head>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
    <link href="Content/Common.css" rel="stylesheet"/>
    <script src="app.js"></script>
</head>
<body ng-controller="BaseController as ctrl">
<form ng-if="ctrl.model.noUserId" ng-submit="ctrl.submit()">
    <input ng-model="ctrl.model.userId"/>
</form>

    <div class="b-layout">
        <div class="b-screen b-screen_entering b-screen_entering_open">
            <div class="b-screen__content"></div>
        </div>
        <div class="b-screen">
            <div class="b-screen__content">
                <div class="b-statistics">
                    <div class="b-statistics-group">
                        <div class="b-statistics-group__title">
                            30.02.1002
							
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div ng-if="ctrl.model.statistics.length">
    <div ng-repeat="timeGroup in ctrl.model.statistics">
        <div ng-repeat="friend in timeGroup.data" >
            
            <img ng-src="{{friend.photo_200_orig}}" width="200" height="200"/>
        </div>
    </div>
</div>

</body>

</html>