html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, Arial, sans-serif;
  color: #222;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}
.b-statistics {
  padding: 30px 0;
  padding-top: 0;
  background: white;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.b-statistics__search {
  border: 0;
  width: 100%;
  font-family: Roboto, Arial, sans-serif;
  background: url(https://vk.com/images/search_icon.png) 0 center no-repeat;
  padding: 14px 15px 14px 28px;
  border-bottom: solid 1px #e4e6e9;
}
.b-statistics__search:focus {
  outline: 0;
}
.b-statistics__groups {
  flex-basis: 100%;
  overflow: auto;
  padding: 0 30px;
}
.b-statistics-group-title {
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}
.b-statistics-group-title:before {
  content: "";
  height: 1px;
  width: 100%;
  background: #e4e6e9;
  position: absolute;
  top: 50%;
  left: 0;
}
.b-statistics-group-title__text {
  padding: 9px 15px;
  background: white;
  position: relative;
  display: inline-block;
}
body {
  background: #edeef0;
  font-size: 1.2rem;
  line-height: 1.42;
}
.b-layout {
  position: relative;
}
.b-layout,
.b-screen {
  height: 100%;
}
.b-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  white-space: nowrap;
  text-align: center;
  overflow: auto;
  /*&:before {
        content: '';
        vertical-align: middle;
        display: inline-block;
        width: 0;
        height: 100%;

    }*/
}
.b-screen_hidden {
  top: -100%;
}
.b-screen__content {
  text-align: left;
  vertical-align: middle;
  white-space: normal;
}
a {
  text-decoration: none;
  color: #222;
}
a:hover {
  text-decoration: underline;
}
.b-friend {
  display: flex;
  position: relative;
}
.b-friend__title {
  font-weight: bold;
  margin-bottom: 6px;
}
.b-friend__status {
  padding: 2px 5px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: 6px;
}
.b-friend__status_added {
  background-color: #5cb85c;
  color: white;
}
.b-friend__status_deleted {
  background-color: #d9534f;
  color: white;
}
.b-friend-photo {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: relative;
}
.b-friend-photo:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url('https://vk.com/images/camera_100.png') center center no-repeat;
  background-size: cover;
}
.b-friend-photo__image {
  width: 80px;
  border-radius: 50%;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.b-friend-photo_online-icon:after {
  position: absolute;
  bottom: 6px;
  right: 6px;
  border: 2px solid #fff;
  height: 12px;
  width: 12px;
  content: '';
  background-color: #8ac176;
  border-radius: 50%;
}
.b-friend__col {
  height: 100px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.b-friend__col_left {
  margin-right: 15px;
}
.b-friend__col_right {
  padding-right: 30px;
  flex-basis: 100%;
  border-top: solid 1px #e7e8ec;
}
